---
version: 3
dependencies:
  galaxy: requirements.yml
  python: requirements.txt

additional_build_steps:
  prepend_base: |
    RUN pip3 install --upgrade pip setuptools
  append_base:
    - RUN ls -la /etc